{% load static %}
<link rel="stylesheet" href="{% static 'social/style.css' %}">
<h1>My Friends</h1>
<h1>My Friends</h1>
<a href="/">Home</a>
<hr>
{% for connection in connections %}
    <p>
        <a href="/user/{{ connection.to_user.username }}/">
            {{ connection.to_user.username }}
        </a>
    </p>
    <form method="post" action="/user/{{ connection.to_user.username }}/remove-friend/">
        {% csrf_token %}
        <button type="submit">Remove Friend</button>
    </form>
    <hr>
{% empty %}
    <p>You have no friends yet.</p>
{% endfor %}