<h1>Real Life Social Network</h1>
{% if user.is_authenticated %}
    <p>Hello {{ user.username }}!</p>
    <a href="/profile/">My Profile</a>
    <br>
    <a href="/friends/">My Friends</a>
    <br>
    <a href="/bluetooth-add/">Add Nearby Friend</a>
    <br><br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post</button>
    </form>
    <form method="post" action="/logout/">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <p>You are not logged in.</p>
    <a href="/login/">Login</a>
    <br>
    <a href="/register/">Register</a>
{% endif %}
<hr>
<h2>Posts</h2>
{% for post in posts %}
    <div>
        <a href="/user/{{ post.author.username }}/">
            <strong>{{ post.author.username }}</strong>
        </a>
        <p>{{ post.text }}</p>
    {% if post.image %}
    <br>
    <img src="{{ post.image.url }}" width="300">
    {% endif %}
        <small>{{ post.created_at }}</small>
    <form method="post" action="/reply/{{ post.id }}/">
    {% csrf_token %}
    <input type="text" name="text" placeholder="Write a reply">
    <button type="submit">Reply</button>
    </form>
    {% for comment in post.comment_set.all %}
    <p>
        <strong>{{ comment.author.username }}</strong>:
        {{ comment.text }}
    </p>
{% endfor %}
    </div>
    <hr>
{% empty %}
    <p>No posts yet.</p>
{% endfor %}